
.container1{
    max-width: 900px;
    margin: 0 auto;
    background-color: lightblue;
}

.table-striped{
    background-color: rgb(100, 247, 247);

}

header, footer{
    background-color: #d8c3a5;
    color: Maroon;
    text-align: center;
    clear: both;
}

header {
    font: Impact;
    font-size: 30px;
}

nav {
    text-align: center;
    font-size: 20px;
    
}

a{
    background-color: rgb(74, 5, 121);
    text-decoration: none;
    padding: 4px;
    margin: 4px;
}

a:link{
    color: rgb(228, 224, 18);
}
a:visited{
    color: rgb(221, 59, 59);
}

a.hover {
    font-weight: bold;
    background-color: white;
}

a:active{
    color: white;
}



.beverages{
    border: black;
    background-color: beige;

}